<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a href="#" onclick="newTodo(); return false">Add new</a>
    <div id="todo_container"></div>
    <script type="text/javascript">
        var basepath = '{{app.request.basepath}}';
    </script>
    <script src="{{app.request.basepath}}/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="{{app.request.basepath}}/js/todo.js" type="text/javascript"></script>
</body>
</html>
